body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(28,32,99);
    color: white;
    font-size: 150%;
    
} 

div.fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
}



td {
    border-bottom: 1px solid white;
}
